---

import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="About ThaiNights"
	description="The most professional Thailand nightlife guide"
	pubDate={new Date('March 11 2026')}
	
>
	<p>
		ThaiNights.net is dedicated to providing the most authentic and detailed guide to Thailand's nightlife. Our mission is to help all visitors to Thailand—from first-timers to veterans—find the best experiences while avoiding potential pitfalls.
	</p>

	<p>
		Our content includes:
        <ul style="margin: 1.5rem 0; padding-left: 1.5rem; color: #ccc;">
            <li>In-depth reviews of Bangkok and Pattaya Red-Light Districts (Go-Go Bars)</li>
            <li>Interactive maps for pinpointing top venues</li>
            <li>Recommendations and reviews for Thai Massage and Prostate Massage</li>
            <li>Latest pricing info and scam-avoidance tips</li>
        </ul>
	</p>

    <p>
        For any suggestions or partnerships, feel free to reach out via the discussion section below.
    </p>
</Layout>
