---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} ThaiNights.net - 曼谷夜生活探險指南 | 僅供學術與文化交流參考
    <div style="margin-top: 10px; font-family: monospace; font-size: 0.7rem; opacity: 0.5;">
        v1.0.2-21fbec1
    </div>
</footer>
<style>
	footer {
		padding: 4em 1rem;
		background: #0a0a0c;
		color: #666;
		text-align: center;
        border-top: 1px solid #222;
        font-size: 0.9rem;
	}
</style>
