---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const today = new Date();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
	&copy; {today.getFullYear()} {t('footer.text')}
    <div style="margin-top: 10px; font-family: monospace; font-size: 0.7rem; opacity: 0.5;">
        v1.0.3-7a7983c
    </div>
</footer>
<style>
	footer {
		padding: 4em 1rem;
		background: #0a0a0c;
		color: #666;
		text-align: center;
        border-top: 1px solid #222;
        font-size: 0.9rem;
	}
</style>
